---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import AnimatedGrid from '@comp/preact/AnimatedGrid/AnimatedGrid';

import IMG_intro_background from '@assets/images/home/back.png';
import IMG_what_we_do from '@assets/images/home/what_we_do.png';
import IMG_what_we_do_for_you from '@assets/images/home/what_we_do_for_you.png';
---

<Layout>
  <div class="grid-background"></div> 
  <AnimatedGrid client:only />
  <main class="relative flex flex-1 flex-col">
    <div id="intro" class="h-screen">
      <div id="welcome" class="max-w-9/12">
        <div>
          <h1>Bounty Hunters Ghosts</h1>
          <h2>We are whisper; legend is our legacy.</h2>
        </div>
        <div>
          <h3>Join us, become one of the most respected and feared Ghosts in the verse, and build your legacy through legend of your many deeds.</h3>
        </div>
      </div>
    </div>
    <div id="content" class="pt-8 flex grow flex-col backdrop-blur-xs">
      <div class="h-[500px] mt-4 mb-4 flex">
        <div class="p-8 overflow-hidden">
          <h1 class="border-b-[1px] border-t-white mb-4">What we do</h1>
          <div class="h-full overflow-y-auto">
            <p>
              In the vast expanse of the Verse, our presence is defined not by proclamation but by the quiet certainty of success. We are the shadow in the chaos, 
              the unseen force that moves with precision and purpose across the stellar frontier. Specializing in undertaking missions that others would deem impossible, 
              we navigate the fine line between order and anarchy with unwavering resolve.
              <br/><br/>
              From covert operations in the darkest reaches to rapid response in life-or-death scenarios, our commitment is absolute. Every assignment is met with meticulous planning, 
              relentless execution, and a code of professionalism forged in the crucible of countless battles. Our operatives embody discipline, skill, and adaptability, 
              ensuring that no barrier is insurmountable and no objective unreachable.
              <br/><br/>
              We exist to serve the few who demand unmatched excellence—resolute, efficient, and formidable—yet we remain humble in our duty, 
              knowing that true strength lies in the mission, not the accolades. When the stakes are highest and the odds are against you, 
              we are the force that stands ready, undeterred and unbroken, quietly shaping the balance of power within the Verse.
            </p>
          </div>
        </div>
        <div class="h-full shrink-0 aspect-square">
          <Image class="right object-cover h-full w-fit block" draggable="false" src={IMG_what_we_do} alt="What we do" />
        </div>
      </div>
      <div class="h-[500px] mt-4 mb-4 flex">
        <div class="h-full shrink-0 aspect-square">
          <Image class="left object-cover h-full w-fit block" draggable="false" src={IMG_what_we_do_for_you} alt="What we do" />
        </div>
        <div class="p-8 overflow-hidden">
          <h1 class="border-b-[1px] border-t-white mb-4">Services we offer</h1>
          <div class="h-full overflow-y-auto">
            <p>Our services are ever improving and adapting! We are law abiding however.</p>
            <ul>
              <li>Clandestine Demolitions</li>
              <li>Clandestine Exfiltrations</li>
              <li>Clandestine Raids</li>
            </ul>
            <p>Organisation leadership may contact us for more specific/complex jobs which may not be listed here. Discussion of job specifics will be done in-verse within a secretive location.</p>
          </div>
        </div>
      </div>
      <div class="h-[500px] mt-4 mb-4 flex">
        <div class="p-8">
          <h1 class="border-b-[1px] border-t-white mb-4">Divisions</h1>
        </div>
      </div>
      <div class="h-[500px] mt-4 mb-4 flex">
        <div class="p-8">
          <h1 class="border-b-[1px] border-t-white mb-4">Become a Ghost today!</h1>
        </div>
      </div>
      <div class="h-[500px] mt-4 mb-4 flex">
        <div class="p-8">
          <h1 class="border-b-[1px] border-t-white mb-4">Leadership</h1>
        </div>
      </div>
      <div class="h-[500px] mt-4 mb-4 flex">
        <div class="p-8">
          <h1 class="border-b-[1px] border-t-white mb-4">Our Partners</h1>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style lang="scss" define:vars={{ bgUrl: `url(${IMG_intro_background.src})` }}>
  @use 'sass:color';

  @use "tailwindcss";
  @use '@css/variables' as *;
  @use '@css/elements';
  
  #intro {
    background-image: var(--bgUrl);
    background-size: cover;
    background-position: right;
    background-blend-mode: screen;
    mask-image: linear-gradient(to bottom, black 90%, transparent);

    #welcome {
      color: transparent;

      background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0.75) 80%,
        rgba(255, 255, 255, 1) 90%,
        rgba(255, 255, 255, 0.75) 100%
      );
      background-clip: text;
      background-size: 200% auto;
      animation: shine 12s ease-in-out infinite;
    }
  }

  #content {
    mask-image: linear-gradient(to bottom, transparent, black 32px);

    /*
    .panel-idea {
      background-color: rgba(0, 0, 0, 0.45);
      border: solid 0.25px rgba(255, 255, 255, 0.45);
      padding: 24px;
      clip-path: polygon(0% 25px, 25px 2px, 50% 2px, 100% 0%, 100% calc(100% - 25px), calc(100% - 25px) calc(100% - 2px), 50% calc(100% - 2px), 0% 100%);
    }
    */

    img {
      border-top: white 1px solid;
      border-bottom: white 1px solid;
    }

    img.left {
      clip-path: polygon(0% 0%, calc(100% - 25px) 1px, 100% 25px, 100% calc(100% - 25px), calc(100% - 25px) calc(100% - 1px), 0% 100%);
    }

    img.right {
      clip-path: polygon(0% 25px, 25px 1px, 100% 0%, 100% 100%, 25px calc(100% - 1px), 0% calc(100% - 25px));
    }
  }

  // Animations
  @keyframes shine {
    0% {
      background-position: 200% center;
    }
    10% {
      background-position: 0% center;
    }
    100% {
      background-position: -200% center;
    }
  }
</style>
