---
import '@css/global.css';

import Footer from '@comp/Footer.astro';
import Navigator from '@comp/Navigator.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
	  <meta name="viewport" content="width=device-width" />
	  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	  <meta name="generator" content={Astro.generator} />
    <title>BHxG</title>
  </head>
  <body class="relative">
    <Navigator />
    <slot />
    <Footer />
  </body>
</html>

<style lang="scss">
  @use '@css/variables' as *;
  @use '@css/elements';
</style>
